# Python
__pycache__/
*.py[cod]
*$py.class
staticfiles/

# Virtual environment
.venv/
venv/
env/

# Django
db.sqlite3
db_backup.sqlite3

# User uploaded files

media/

# Environment variables
.env

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Backup files
rooms_backup.json